<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Change Log</title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/logpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    th {
      margin-top: 5%;
    }

    tr {
      align-items: center;
      border-top: 1px solid white;
    }

    li {
      padding-left: 5%;
    }

    nav {
      background-color: grey;
    }

    tbody,
    tr,
    th,
    thead,
    td {
      border-top: 0px solid white !important;
    }

    hr {
      border: 1px solid black;
    }
  </style>

</head>

<body>

  <div class="page-header" style="background-color:white;margin-top:-3%;padding-top:1%;position:fixed;width:100%">
    <div class="row">
      <div class="col-sm-3"><img class="img-responsive2" src="../../img/adapt.png" onclick="window.history.go(-1); return false;" style="width:63%;margin-top:-12%;margin-left:-7%;cursor:pointer" /></div>
      <!-- <div class="col-sm-2"><img class="img-responsive2" src="../../img/Adapt_logo.png" style="width:20%;padding-left:-2%"/></div> -->
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <!-- <h2 style="padding-left:30%;color:black;font-weight:bold">Change log</h2> -->
      </div>
      <!-- <div class="col-sm-4"><input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" style="margin-left:85%;border:black;background-color:white" /></div> -->
      <div class="col-sm-4"><img class="img-responsive2" src="../../img/wipro_digital.PNG" style="margin-left:43%;width:52%" /></div>
    </div>
  </div>

  <div class="ui center aligned grid stackable">
    <div class="sixteen wide column">
      <div class="screen-head">
        <h2 style="margin-top:3%;margin-left:40%;font-weight:bold;">Change log</h2>
        <!-- <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" style="margin-left:60%"/></h2> -->
      </div>
    </div>
  </div>

  <div class="ui center aligned grid stackable">
    <div class="sixteen wide column">
      <div class="screen-head">
        <h2 style="margin-top:2%;margin-left:40%">Change log</h2>
        <!-- <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" style="margin-left:60%"/></h2> -->
      </div>
    </div>
  </div>


  <div class="container" style="text-align: left">
    <table class="table" style="align-items: center;width:60%;margin-left:20%;margin-top:5%;margin-bottom:5%;border-top: 1px solid white;">
      <tbody>
        <th>Adapt 0.8.2</th>
        <tr>
          <th>Date : 29/08/17</th>
        </tr>
        <ul>
          <tr>
            <td><li>Deploy code by <B>Tarun<B></li></td>
          </tr>
        <tr>
          <td><li>Admin updated by <B>Threkashri<B><hr></li></td>
        </tr>

        <th>Adapt 0.7.4</th>
        <tr>
          <th>Date : 24/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Updated the admin side by <B>Threkashri<B><hr></li></td>
        </tr>

        <th>Adapt 0.7.3</th>
        <tr>
          <th>Date : 23/08/17</th>
        </tr>
        <ul>
          <tr>
            <td><li>Userdashboard updated by <B>Arun<B></li></td>
          </tr>
        <tr>
          <td><li>Link and Delink Scenario Updated by <B>Threkashri<B><hr></li></td>
        </tr>

        <th>Adapt 0.7.2</th>
        <tr>
          <th>Date : 22/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>UI changes by <B>Threkashri<B><hr></li></td>
        </tr>
        <th>Adapt 0.7.1</th>
        <tr>
          <th>Date : 21/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Profile UI changed by <B>Threkashri<B><hr></li></td>
        </tr>
        <th>Adapt 0.6.5</th>
        <tr>
          <th>Date : 18/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>UI changed by <B>Threkashri<B><hr></li></td>
        </tr>
        <th>Adapt 0.6.4</th>
        <tr>
          <th>Date : 17/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Work in progress display name in card updated by <B>Threkashri<B><hr></li></td>
        </tr>

        <th>Adapt 0.5.5</th>
        <tr>
          <th>Date : 11/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>master reset and reset password done by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Credits Details Updated by <B>Navin<B><hr></li></td>
        </tr>

        <th>Adapt 0.5.4</th>
        <tr>
          <th>Date : 10/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Adapt information upadted by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Dynamic cheat code added by <B>Arun<B><hr></li></td>
        </tr>

        <th>Adapt 0.5.3</th>
        <tr>
          <th>Date : 09/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>select all and deselect all in component library by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Inprogress global level by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Userlog file added, Tools section added by <B>Arun<B><hr></li></td>
        </tr>

        <th>Adapt 0.5.2</th>
        <tr>
          <th>Date : 08/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Card color change and profile team data updated by <B>Keerthana<B><hr></li></td>
        </tr>

        <th>Adapt 0.5.1</th>
        <tr>
          <th>Date : 07/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Cheat code feature added by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Precondition array type updated by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>dnd admin ui changed and instruction changed by <B>Keerthana<B><hr></li></td>
        </tr>

        <th>Adapt 0.4.5</th>
        <tr>
          <th>Date : 04/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Admin UI by <B>Keerthana priya<B></li></td>
        </tr>
        <tr>
          <td><li>Models in user and admin updated by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Card delete bug fixed added by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard updated by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Admin and User bug fixed by <B>Navin<B><hr></li></td>
        </tr>

        <th>Adapt 0.4.4</th>
        <tr>
          <th>Date : 03/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>User dashboard updated by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Dashboard UI and Login UI by <B>Keerthana priya<B></li></td>
        </tr>
        <tr>
          <td><li>Models in user and admin updated by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Componets Library functionalities done, Instruction button fixed, Commit and clear button disable done, main page ui updated by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Sonar property file added by <B>Navin<B><hr></li></td>
        </tr>

        <th>Adapt 0.4.3</th>
        <tr>
          <th>Date : 02/08/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Edit scenario properties updated, Alert boxes updated by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Team details view in profile page updated, Alert boxes updated by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard updated by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Bug fixes in admin and user updated, Sonar property file added by <B>Navin<B><hr></li></td>
        </tr>

        <th>Adapt 0.4.2</th>
        <tr>
          <th>Date : 01/08/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Component UI changed on main page by<B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Batch file path from neo4j by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Profile page description by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Landing page UI by <B>Keerthana priya<B></li></td>
        </tr>
        <tr>
          <td><li>User dashboard by <B>Arun<B><hr></li></td>
        </tr>


      </ul><th>Adapt 0.4.1</th>
        <tr>
          <th>Date : 31/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>status Information bug fixed by<B>Keerthana<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.5</th>
        <tr>
          <th>Date : 28/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>User dashboard updated by<B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Main page ui changes by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Alert boxes changed to toastr by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Profile page bug fixed,Dnd admin changed and Position num added to Dropped components and score msg added by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard updated by <B>Mayanka<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.4</th>
        <tr>
          <th>Date : 27/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Admin change pwd, loader and components linked to User story added by<B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Completed User story bug fixed by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Alerts popup changed to react by <B>Tarun<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.4.2</th>
        <tr>
          <th>Date : 01/08/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Component UI changed on main page by<B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Batch file path from neo4j by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Profile page description by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Landing page UI by <B>Keerthana priya<B></li></td>
        </tr>
        <tr>
          <td><li>User dashboard by <B>Arun<B><hr></li></td>
        </tr>


      </ul><th>Adapt 0.4.1</th>
        <tr>
          <th>Date : 31/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>status Information bug fixed by<B>Keerthana<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.5</th>
        <tr>
          <th>Date : 28/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>User dashboard updated by<B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Main page ui changes by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Alert boxes changed to toastr by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Profile page bug fixed,Dnd admin changed and Position num added to Dropped components and score msg added by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard updated by <B>Mayanka<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.4</th>
        <tr>
          <th>Date : 27/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Admin change pwd, loader and components linked to User story added by<B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Completed User story bug fixed by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Alerts popup changed to react by <B>Tarun<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.3</th>
        <tr>
          <th>Date : 26/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Profile page updated by<B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin change password,loader and components link to the User story by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Ui changed for landing page by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard updated by <B>Mayanka<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.2</th>
        <tr>
          <th>Date : 25/07/17</th>
        </tr>
        <ul>
        <tr>
            <td><li>Precodition for User story and View data sequence listed by<B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin UI dashboard updated by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>State recovery bug fixed, complete User story bug fixed, Actual score for each User story, score state for continued session, display score while compiling by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Nav bar validation and user dashboard updated by <B>Navin<B></li></td>
        </tr>
        <tr>
          <td><li>Instruction button and message display in main page updated by <B>Tarun<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.3.1</th>
        <tr>
          <th>Date : 24/07/17</th>
        </tr>
        <ul>
          <tr>
            <td>
              <li>Completed Customer journey in Mongo updated by
                <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard table component by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dashboard UI and single sequence bug correction by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Negative score updated by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>User dashboard UI by <B>Navin<B></li></td>
        </tr>
        <tr>
          <td><li>User story data for Neo4j by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>score update by <B>Keerthana<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.2.5</th>
        <tr>
          <th>Date : 21/07/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Neo4j user data updated by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Code pushed to git by <B>Aashika and Keerthana priya<B></li></td>
        </tr>
        <tr>
          <td><li>Upload photo button updated by <B>Navin<B></li></td>
        </tr>
        <tr>
          <td><li>Toggling domain added by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Score update by <B>Keerthana<B><hr></li></td>
        </tr>
        </ul>


        <th>Adapt 0.2.4</th>
        <tr>
          <th>Date : 20/07/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>User details for pair updated and User story add,delete,edit sequence by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>validation bugs by <B>Mayanka<B></li></td>
        </tr>
        <tr>
          <td><li>Profile Image Upload and credits mail link updated by <B>Navin<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.2.3</th>
        <tr>
          <th>Date : 19/07/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Code spliting by <B>Keerthana Priya<B></li></td>
        </tr>
        <tr>
          <td><li>Code spliting by <B>Aashika<B></li></td>
        </tr>
        <tr>
          <td><li>Link and delink in customer journey edit by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Customer journey specific component in main page by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Admin dnd UI and left pane done by <B>Arun <B></li></td>
        </tr>
        <tr>
          <td><li>Profile page by <B>Navin<B><hr></li></td>
        </tr>
        </tr>
        </ul>

        <th>Adapt 0.2.2</th>
        <tr>
          <th>Date : 18/07/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Button component change by <B>Keerthana Priya<B></li></td>
        </tr>
        <tr>
          <td><li>Edit customer journey modified by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Remove component bug fixed by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Add user(pair user type) and sample template for bulk add by <B>Arun <B></li></td>
        </tr>
        <tr>
          <td><li>view correct sequence in accordion by <B>Mayanka<B><hr></li></td>
        </tr>
        </ul>

        <th>Adapt 0.2.1</th>
        <tr>
          <th>Date : 17/07/17</th>
        </tr>
        <ul>
        <tr>
          <td><li>Progress bar added by <B>Keerthana<B></li></td>
        </tr>
        <tr>
          <td><li>Add and delete user bugs fixed by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>CSV file upload in the same page done by <B>Arun <B></li></td>
        </tr>
        <tr>
          <td><li>Video at user story by <B>Keerthanapriya <B></li></td>
        </tr>
        <tr>
          <td><li>Exit user story route updated by <B>Tarun<B></li></td>
        </tr>
        <tr>
          <td><li>Bulk Upload CSV - page reloading bug fixed by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Accordin scroll bar by <B>Aashika<B></li></td>
        </tr>
        <tr>
          <td><li>Log page UI by <B>Threkashri<B></li></td>
        </tr>
        <tr>
          <td><li>Upload csv page redirection resolved, Login page updated and edit user by <B>Arun<B></li></td>
        </tr>
        <tr>
          <td><li>Credits page UI and profile page updated by <B>Navin<B></li></td>
        </tr>
        <tr>
          <td><li>admin view data updated by <B>Mayanka<B><hr></li></td>
        </tr>
        </ul>
                  <th>Adapt 0.1.2</th>
                  <tr>
                    <th>Date : 14/07/17</th>
                  </tr>
                  <ul>
                  <tr>
                    <td><li>Error messaging added by <B>Keerthana<B></li></td>
                  </tr>
                  <tr>
                    <td><li>Edit component done by <B>Threkashri<B></li></td>
                  </tr>
                  <tr>
                    <td><li>Exit user story in main page updated by <B>Tarun <B></li></td>
                  </tr>
                  <tr>
                    <td><li>Video for user story and domain by <B>Keerthanapriya <B></li></td>
                  </tr>
                  <tr>
                    <td><li>Profile page with dynamic data and change password by <B>Arun<B></li></td>
                  </tr>
                  <tr>
                    <td><li>Problem statement updated by <B>Aashika<B></li></td>
                  </tr>
                  <tr>
                    <td><li>Admin User update by <B>Mayanka<B></li><hr></td>
                  </tr>
                  </ul>
          <th>Adapt 0.1.1</th>
          <tr>
            <th>Date : 13/07/17</th>
          </tr>
          <ul>
          <tr>
            <td><li>Sequence checking updated by <B>Tarun Thota<B></li></td>
          </tr>
          <tr>
            <td><li>Updated in credits page and added profile page by <B>Navin Prasad <B></li></td>
          </tr>
          <tr>
            <td><li>Update current customer journey and user story by <B>keerthanapriya <B></li></td>
          </tr>
          <tr>
            <td><li>UI of Drag and drop changed by <B>Tarun Thota<B></li></td>
          </tr>
          <tr>
            <td><li>Component description popup by <B>Aashika<B></li></td>
          </tr>

          <tr>
            <td><li>Delete component and change log by <B>Threkashri<B></li></td>
          </tr>
          <tr>
            <td><li>Edit user story(without sequence), code property for user story added by <B>Arun</B>
              </li>
            </td>
          </tr>
          <tr>
            <td>
              <li>Edit domain by
                <B>Mayanka<B></li></td>
          </tr>

          <tr>
            <td><li>Delete component and change log by <B>Threkashri<B></li></td>
          </tr>
          <tr>
            <td><li>Edit user story(without sequence), code property for user story added by <B>Arun</B>
              </li>
            </td>
          </tr>
          <tr>
            <td>
              <li>Edit domain by
                <B>Mayanka<B></li></td>
          </tr>
          <tr>
            <td><li>Error detection done by <B>Keerthana<B></li><hr></td>
          </tr>
          </ul>
      </tbody>
    </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="dist/semantic.min.js"></script>
  <script>
    $('#toggle').click(function() {
      $('.ui.sidebar').sidebar('toggle');
    });

    $('.ui.medium.image').dimmer({
      on: 'hover'
    });

    $('.visible.example .ui.sidebar').sidebar({
        context: '.visible.example .bottom.segment'
      })
      .sidebar('hide');
  </script>

</body>

</html>
